@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: 'Nunito', sans-serif;

@import 'bulma/bulma.sass';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__content {
    flex: 1;
    @include touch {
      padding: 0 24px;
    }
  }
}
